body{
    background-image: radial-gradient(circle,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: auto;
}


.game-container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(217, 16%, 45%);
    padding: 5px;
    margin-bottom: 50px;
    width: 50%;
    margin: auto;
}

.score-container{
    background-color: white;
    padding: 0 15px;
    color: hsl(229, 25%, 31%);
    text-align: center;
    width: 115px;
    text-transform: uppercase;
}

.score-number{
    font-size: 54px;
    margin: 0;
}

.choice-container{
    background: url('./images/bg-triangle.svg') no-repeat center;
    position: relative;
    padding: 250px;
    margin-top: 50px;
    
   
}

.choice-btn{
    background-color: white;
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.paper{
    border: 16px solid hsl(230, 89%, 62%);
    position: absolute;
    top: 18px;
    left: 300px;
    
}

.scissors{
    border: 16px solid hsl(39, 89%, 49%);
    position: absolute;
    left: 167px;
    bottom: 40px;
    
}

.rock{
    border: 16px solid hsl(349, 71%, 52%);
    position: absolute;
    top: 18px;
    left: 35px;
    
}

.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    
    
}

.result-container {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}


.result{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;
}

.result-btn{
    padding: 10px 60px;
    background-color: white;
    border-radius: 7px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.user-choice-container, .computer-choice-container, .game-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.user-choice, .computer-choice{
    position: static;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}




.attribution {
    font-size: 11px;
    text-align: center;

  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }