body{
    background-image: radial-gradient(circle,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: auto;
}


.game-container{
    margin: 20px auto;
    width: 50%;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(217, 16%, 45%);
    padding: 10px;
}

.score-container{
    background-color: white;
    padding: 0 15px;
    color: hsl(229, 25%, 31%);
    text-align: center;
    width: 115px;
    text-transform: uppercase;
}

.score-number{
    font-size: 54px;
    margin: 0;
}

.choice-container{
    background: url('./images/bg-triangle.svg') no-repeat center;
    position: relative;
    padding: 250px;
   
}

.choice-btn{
    background-color: white;
    margin: 10px 0;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.paper{
    border: 16px solid hsl(230, 89%, 62%);
    position: absolute;
    top: 18px;
    left: 550px;
    
}

.scissors{
    border: 16px solid hsl(39, 89%, 49%);
    position: absolute;
    left: 398px;
    bottom: 40px;
    
}

.rock{
    border: 16px solid hsl(349, 71%, 52%);
    position: absolute;
    top: 18px;
    
}



.attribution {
    font-size: 11px;
    text-align: center;

  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }